@font-face {
  font-family: 'Russo One';
  src: url('/assets/fonts/Russo_One/RussoOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Inter ExtraBold */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}